body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  margin-bottom: 10px;
}


textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
  padding-top: 30px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
  background-color: rgb(248, 233, 214);
}

.past {
  background-color: #d3d3d3;
  color: black;
}

.present {
  background-color: #ff6961;
  color: black;
}

.future {
  background-color: #77dd77;
  color: black;
}


.saveBtn {
  margin: 0px;
  width: 50px;
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}

.col-2 {
  padding-top: 8px;
  padding-left:  0px;
  margin-bottom: 1px;

}
/* Lengend row */
.legend{
  float: right;
  height: 30px;
  width: 100%;
}
/* Legend column */
div p{ 
  line-height: 30px;
 margin-left: 10px;
 margin-right: 10px;
}